* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
#root {
  height: 100%;
  width:100%;
  position: relative;
}
body {
  padding: 3rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  background: rgb(241, 240, 240);
}
.container {
  width: 100%;
  display: flex;
  min-height: 100%;
  -webkit-box-shadow: 0px 0px 2.4rem 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2.4rem 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2.4rem 0px rgba(0,0,0,0.75);
}
.left-box {
  background: #ffd20c;
  width: 50%;
  position: relative;
}
.about {
  margin: 3rem 5rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;   
}
.sign {
  border: none;
  border:2px solid rgb(36, 36, 36);
  color: #fff;
  padding: 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  color: #000;
  transition: background .5s ease-in-out;
  margin-left: 1rem;
}
.sign:hover {
  background: rgb(36, 36, 36);
  color: #fff;
}
.fa-instagram,.fa-facebook-f,.fa-youtube {
  color: #000;
  cursor: pointer;
  margin-right: 2rem;
  transition: transform .3s ease;
}
.fa-instagram:hover,.fa-facebook-f:hover,.fa-youtube:hover{
  transform: scale(1.2);
}
.inside-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;
  min-height: 70%;
}

.all-books {
  padding: 5rem;
  text-align: center;
  width: 100%;
}
.heading-2 {
  font-weight: 700;
  font-size: 6rem;
  color: rgb(95, 95, 95);
}
.test {
  column-count:2;
  padding: 3rem;
  font-size: 1.8rem;
}
.book {
  margin-top: 2rem;
  width: 50%;
}
.para-footer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 700;
  font-size: 1.8rem;
}
.right-box {
  padding: 3rem;
  width: 50%;
  background: rgb(36, 36, 36);
  position: relative;
}
.heading-1 {
  margin: 8rem 5rem;
  font-size: 9.6rem;
  text-transform: uppercase;
  color: rgb(36, 36, 36);
  text-shadow: -1px 0 #fff, 0 1px #fff,
    1px 0 #fff, 0 -1px #fff;
}
.heading-1 > span {
  color: #fff;
}
.para {
  margin-left: 5rem;
  color: #fff;
  margin-top: 3rem;
  width: 60%;
  font-size: 1.8rem;
}
.logo {
  width: 10%;
  position: absolute;
  top: 3rem;
  right: 3rem;
  background: #ffd20c;
}
.sign-up {
  color: #000;
  text-decoration: none;
  padding: 1rem;
  background: #ffd20c;
  display: inline-block;
  margin-top: 4rem;
  font-size: 1.6rem;
  margin-left: 5rem;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}
.sign-up:hover {
  transform: scale(1.2);
}
.heading-3 {
  font-size: 2.2rem;
}
.container-sale {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
}
.sale {
  margin: 0 2rem;
  height: 40vh;
  width: 50%;
  position: relative;
}
.sale-img {
  width: 100%;
  height: 45vh;
}
.sale-header {
  background: #ff2a2a;
  text-align: center;
  transform: rotate(8deg);
  position: absolute;
  padding: 1rem;
  top: -2.5rem;
  right: -.7rem;
  border:2px solid #000;
}
.sale-text {
  font-size: 1.7rem;
}

.container-books {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: repeat(2,1fr);
  grid-gap: 0;
  padding: 5rem;
  min-height: 100vh;
  width:100%;
  margin-top: 12rem;
}
.container-book {
  background: #faf9f9;
  padding: 1.5rem;
  margin: 3rem 2rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 }

.div-cover {
  width: 80%;
  height: 40vh;
}
.cover {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.description {
  margin-top: 2rem;
}
.price {
  position: absolute;
  top: 0;
  font-size: 1.7rem;
  right: 2px;
  background: palegreen;
  color: #000;
  padding: 1rem;
}
.atr > span {
  font-weight: 900;
}
.book-title {
  font-size: 2rem;
}
.atr {
  margin-top: 1rem;
  font-size: 1.6rem;
}
.btn-add {
  border: none;
  background: #0cf098;
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all .3s ease;
}
.btn-add:hover {
  background: #0a9e65;
  color: #fff;
}
.container-sign-parent {
  position: relative;
  height: 78%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background: rgb(228, 228, 228);
 width: 90%;
 margin: 0 auto;
}
.container-sign {
  text-align: center;
  background: #ffd20c;
  width: 35%;
  min-height: 50vh;
  padding: 2rem;
  padding-top: 4rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 2rem 1px rgb(134, 133, 133); 
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  height: 70%;
}
.form > label {
  font-size: 20px;
  margin-top: 2rem;
}
.input {
  margin-left: 2rem;
  border: 2px solid #333;
  padding: .7rem;
  font-size: 16px;
  width: 60%;
  margin-top: 1rem;
}
.lower {
  margin-top: 5rem;
}
.input::placeholder {
  font-size: 16px;
}
.details {
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: 2rem;
  background: #ffd20c;
  padding: 1rem;
  color: #000;
  transition: background .5s ease;
  text-decoration: none;
}
.details:hover {
  background: #e9c00d;
}
.fa-arrow-right,.fa-shopping-basket {
  font-size: 1.2rem;
  margin-left: .6rem;
}
.container-single-book {
  background: #ffd20c;
  width: 70%;
  height: 70vh;
  padding: 3rem;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-around;
  align-items: center; 
}
.img-single-book {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.content-single-book {
  display: flex;
  height: 100%;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background: #333;
  color: #fff;
} 
.img-single-book > img {
  width: 80%;
}
.description-single-book {
  padding: 1rem;
  width: 80%;

}
.header-single-book {
  text-align: center;
  padding: 2rem;
  border:2px solid #fff;
}
.list-single-book {
  margin-top: 2rem;
  list-style: none;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.list-single-book > li {
  font-size: 1.7rem;
  margin-top: 2rem;
}
.fa-arrow-left {
  margin-right: 1rem;
}
.fa-user,.fa-book-open,.fa-search {
  margin-left: 1rem;
}
.container-registration-parent {
  position: relative;
  height: 91%;
 display: flex;
 width:90%;
 margin: 0 auto;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 /* margin-top: -5rem; */
 background: rgb(228, 228, 228);
}
.container-registration {
  text-align: center;
  background: #ffd20c;
  width: 35%;
  min-height: 60vh;
  padding: 2rem;
}
label {
  width: 80%;
}
.loading {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border-top:2px solid #d60707;
  border-right:2px solid #0cf098;
  padding: 3rem;
  width:25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border-left:2px solid #346aff;
  border-bottom:2px solid #ffaa0d;
}
.container-panel {
  display: flex;
}
.panel-left {
  width: 20%;
  height: 94vh;
  text-align: center;
  position: relative;
  padding: 1rem;
  background: #98fb98;
}

.name {
  font-size: 2.2rem;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.color {
  color: #ffd20c;
}
.div-book-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-btn-actions {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;  
  width: 100%;
}
.rights-panel {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.6rem;
  width: 100%;
}
.book-search {
  width: 100%;
  font-size: 1.6rem;  
  padding: 1rem;
  border: 1px solid #ffd20c;
  border-radius: 10rem;
  margin-top: 2rem;
}
.book-search:focus {
  outline: none;
}
.logo-panel {
  width: 8%;
  background: #ffd20c;
}
.panel-right {
  background: #333;
  height: auto;
  width: 100vw;
  position: relative;
}
.heading-4 {  
  font-size: 3.2rem;
  color: #fff;
}
.btn-search {
  border: none;
  background: transparent;
  padding: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all .3s ease ;
}
.btn-search:hover {
  transform: scale(1.1);
}
.btn-search:focus {
  outline: none;
}
.container-search {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hr-inpt {
  text-align: center;
  width: 45%;
}
.last-search {
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actions {
  text-align: left;
}
.sign-out {
 background: #333;
 color: #fff;
 width: 100%;
 margin-top: 1rem;
 border: none;
}
.fa-sign-out-alt {
  margin-left: 1rem;
  font-size: 2rem;
}

.basket {
  font-size: 1.6rem;
  border: 1px solid #000;
  padding: 1.5rem;
  width: 100%;
  margin-top: 1rem;
  transition: transform .3s ease;
  cursor: pointer;
}
.basket:hover {
  transform: scale(1.1);
}
.failed-sign {
  background: #333;
  padding: 2rem;
  text-align: center;
  height: auto;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign-p {
  color: #fff;
  font-size: 2rem;
}
.reg-p {
  margin-top: 2rem;
  color: #fff;
  font-size: 2rem;
}
.red-p {
  color: #ff4141;
  font-size: 1.9rem;
}
.header {
  background: #333;
  height: 10%;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-5 {
  font-size: 2.3rem;
  color: #fff;
}
.footer {
  background: #333;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
}
.footer,.header {
  width: 90%;
  margin: 0 auto;
}
.footer-text {
  font-size: 1.8rem;
  color: #fff;
}
.menu-category {
  position: absolute;
  left: 52%;
  top: 5rem;
  text-align: center;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}
.menu-list {
  position: absolute;
  left: 52%;
  top: 10rem;
  text-align: center;
  transform: translate(-50%,-50%);
  list-style: none;
  display: flex;
  width: 85%;
  background: #fff;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: center;
}
.success-reg {
  height: 50vh;
  padding: 2rem;
  width: 40%;
  background: #ffd20c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.success-text {
  font-size: 2.4rem;
}
.fa-check-circle {
  font-size: 4.4rem;
}
.menu-list > li {
  width: 22rem;
}
.category-link {
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  cursor: pointer;
  font-size: 1.6rem;
  background: #ffd20c;
  padding: 2rem 1rem;
  width: 22rem;
  display: inline-block;
  margin: .5rem 0;
  transition: all .4s ease;
}
.category-link:hover {
  color: #ffd20c;
  background: #333;
}
.container-single-category {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 42rem));
  grid-template-rows: repeat(2,1fr);
  grid-gap: 0;
  padding: 5rem;
  height: 100vh;
  margin-top: 3rem;
}
.text-left {
  font-size: 1.7rem;
  padding: 3rem;
  margin-left: 1rem;
  width: 45%; 
}
.container-text-left {
  margin-top: 3rem;
  padding: 1rem;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
.center-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heading-6 {
  font-size: 2.4rem;
  text-align: center;
}
.fa-chart-line,.fa-medal {
  margin-left: 2rem;
  font-size: 5rem;
}
.showCart {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  border:5px solid #ffd20c;
  z-index: 2;
  background: #333;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fa-shopping-cart {
  margin-top: 1rem;
  font-size: 2rem;
}
.container-cart {
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.container-items {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item {
  margin: 0 auto;
  background: rgb(233, 233, 233);
  /* height: 50vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 2rem 1rem;
  width: 70%;
  height: 50vh;
  position: relative;
}
.item-cover {
  width: 20%;
  height: 80%;
}
.item-details {
  margin-top: 2rem;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.item-price {
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 900;
  font-size: 1.6rem;
}
.item-actions {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.container-count {
  position: absolute;
  top: 10%;
  right: 0;
}
.btn-act {
  font-weight: 400;
  font-size: 1.6rem;
  border: none;
  padding:1rem 2rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
  text-decoration: none;
  color: #000;
  margin: 0 1rem;
}
.btn-act:hover {
  transform: scale(1.2);
}
.buy {
  background: #98fb98;
}
.remove {
  background: #ff6347;
}
.user-cart {
  text-decoration: none;
  color: #000;
  width: 100%;
  display: inline-block;
}
.items-count {
  font-size: 2rem;
  text-align: center;
}
.input-count {
  width: 20%;
  padding: .5rem;
  margin-left: 1rem;
  font-size: 2rem;
  text-align: center;
}
.thanks-container {
  background: #ffd20c;
  width: 50%;
  padding: 3rem;
  height: 53vh;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.thanks-text {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.fa-times {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
}
.input-cart {
  text-align: center;
  background: red;
  font-size: 1px;
}
.cart-buy {
  border: none;
  background: #98fb98;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: none;
  transition: background .3s ease;
}
.actions-cart {
  height: 20vh;
}
.clear {
  color: #000;
  text-decoration: none;
}

.cart-buy:hover {
  background: #2ab42a;
}
.text-about-account {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1rem;
  padding: 2rem;
}
.text-add-user {
  margin-bottom: 2rem;
  text-decoration: none;
  color: #2ab42a;
  font-size: 1.8rem;
  border:2px dashed #333;
  padding: 1rem 2rem;
  margin-top: 1rem;
  transition: all .5s ease-in-out;
}
.text-add-user:hover {
  background: #333;
  border: 0;
}
.container-search-books {
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  background:#333;
  grid-gap: 4rem;
  padding: 5rem;
  height: 65vh;
  margin-top: 10rem;
  overflow: scroll;
  overflow-x: hidden;
}
.text-book {
  grid-template-columns: repeat(3,1fr);
  display: grid;
}
.container-search-book {
  padding: 1.5rem;
  background: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.table-order,.table-order-single {
  border: 3px solid #38af38;
  width: 50%;
  margin: 4rem 0 2rem 0;
  padding: 1rem;
}
.table-order-single {
  width: 70%;
}
.td,.td-2 {
  width: 50%;
  text-align: left;
  padding: 2rem;
  font-size: 2rem;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
}
.td-2 {
  width: 30%;
  padding: 1rem;
  text-align: center;
}
.order-title {
  width: 50%;
}


.bold {
  font-weight: 900;
}
.your-books {
  text-transform: uppercase;
  color: #ffd20c;
  background: rgb(102, 102, 102);
  border: none;
  text-align: center;
}
.order-img {
  width: 10rem;
  height: 15rem;
}
.empty-basket {
  font-size: 2rem;
}

@media (min-width: 1200px) {
  html {
    font-size: 8px;
  }
  .details {
    font-size: 1rem;
  }
  .btn-add {
    font-size: 1.3rem;
  }
  .container-sign {
    width: 40%;
    min-height: 60vh;
  }
  .container-registration {
    width: 40%;
  }
}


@media (min-width: 1600px){
  html {
    font-size: 10px;
  }
  .btn-add {
    font-size: 1.3rem;
  }
  .details {
    font-size: 1rem;
  }
}


@media (max-width: 700px) , screen and (max-height: 360px) {
  html {
    font-size: 5px;
  }
  body {
    padding: 0;
  }
  .container {
    flex-direction: column;
  }
  .left-box {
    width: 100%;
    min-height: 70vh;
    order: 2;
  }
  .right-box {
    width: 100%;
    order: 1;
    min-height: 60vh;
  }
  .para {
    width: 80%;
  }
  .sign {
    margin-top: 5rem;
    display: inline-block;
  }
  .container-books {
    min-height: 100vh;
    margin-top: 30rem;
  }
  .menu-list {
    margin-top: 20rem;
  }
  .item {
    width: 100%;
  }
  .item-cover {
    height: 50%;
    width: 30%;
  }
  .container-sign {
    min-width: 90%;
    min-height: 60vh;
  }
  .form > label {
    font-size: 2rem;
  }
  .input::placeholder {
    font-size: 2rem;
  }
  .input {
    padding: 1rem;
    font-size: 2.2rem;
  }
  .container-registration {
    min-width: 90%;
    min-height: 80vh;
  }
  .heading-3 {
    font-size: 3rem;
  }
  .panel-left {
    width: 100%;
    height: 50vh;
  }
  .panel-right {
    min-height: 100vh;
  }
  .container-panel {
    min-height: 100vh;
    flex-direction: column;
  }
  .hr-inpt {
    width: 80%
  }
  .user-btn-actions {
    width: 60%;
  }
  .failed-sign {
    width: 90%;
  }
  .thanks-container {
    width: 90%;
  }
  .table-order {
    width: 100%;
  }
  .table-order-single {
    width: 100%;
  }
  .container-single-book {
    flex-direction: column;
    min-height: 70vh;
    width: 100%;
  }
  .img-single-book {
    width: 50%;
    height: 30vh;
    order: 2;
  }
  .img-single-book > img {
    width: 90%;
    height: 100%;
  }
  .content-single-book {
    width: 100%;
    min-height: 40%;
    order: 1;
  }
  .item-details {
    width: 60%;
    margin-left: 6rem;
  }
  .cart-buy {
    font-size: 2rem;
    padding: 2rem 1rem;
  }
}









